<ion-view view-title="Lista de Productos">

	<ion-nav-buttons side="right">
	  <button class="button  button-clear" ng-click="openModalAddProducto()">
	    <i class="icon ion-android-add"></i>
	  </button>
	</ion-nav-buttons>
  <ion-header-bar class="bar-subheader bar-light" ng-show="true">
    <div class="bar bar-header item-input-inset">
      <div class="bar bar-header item-input-inset header-buscar">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar"  ng-model="searchText">
        </label>
      </div>  
    </div>
  </ion-header-bar>
  <br>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="producto in productos | filter:searchText"  ng-click="showActionsheet(producto)">
       <i class="icon ion-cube"></i> &nbsp; {{producto.nombre}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
